<div class="top-bar">
	<div class="top-bar-container">
		<div class="top-bar-left">
			<a href="#" class="top-bar-link"><i class="fa-brands fa-instagram icon-sm-fa"></i></a>
			<a href="#" class="top-bar-link"><i class="fa-brands fa-facebook-f icon-sm-fa"></i></a>
			<a href="#" class="top-bar-link"><i class="fa-brands fa-whatsapp icon-sm-fa"></i></a>
		</div>
		<div class="top-bar-right">
			<span class="top-bar-contact">sales@cncleaders.com <i data-lucide="mail" class="icon-sm"></i></span>
			<span class="top-bar-contact">7890 456 123 20+ <i data-lucide="phone" class="icon-sm"></i></span>
		</div>
	</div>
</div>
